---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Staff" description="Meet the team at The Hilson Studio: Sean Power and Tyler Skye.">
  <section class="block container">
    <div class="two-col">
      <div>
        <img src="/images/staff-sean.png" alt="Sean Power" />
        <p class="gallery-caption">Photo by Elle Jaye</p>
      </div>
      <div class="prose">
        <h2>Sean Power</h2>
        <p><em>Owner/Head Engineer/Musician</em></p>
        <p>Sean moved from New York to Nashville in 2007 to be a touring guitar player. He studied audio recording and business management and got his bachelor's degree from Five Towns College....</p>
        <p>Let's lose the objective third person narration and cut to it. It's me, Sean. I love music, I've always loved making it and what it can make people feel. Recording was just another way to get ideas out, and technology (for all it's great and terrible effects) has made the impossible possible. I play on most of the projects we do here, but I'm also happy to be an engineer or a fly on the wall.</p>
        <p>I love analog gear. I love virtual instruments. I love hitting a snare drum, but I also love making a kick drum sound like no kick drum you've ever heard in real life. I'm always down to mix genres, from purist real drums and out of tune single coil guitars, to overdone autotune and 576 vocal layers.</p>
        <p>I'm glad to have done as much as I have, and I'm excited about having this space to continue to do more, hopefully better, and with more new friends. I built this studio from the ground up with a hand from a few good buddies, and we're all damn proud to have this space to show for it. Let's get back to work.</p>
      </div>
    </div>
  </section>

  <section class="block container">
    <div class="two-col">
      <div>
        <img src="/images/staff-tyler.jpg" alt="Tyler Skye" />
      </div>
      <div class="prose">
        <h2>Tyler Skye</h2>
        <p><em>Assistant Engineer/Musician</em></p>
        <p>After attending the School of Rock while in college, he went on to intern with Sebastian Gäbel in Germany, Welfare Sounds and Records in Sweden, and learn in person from the notorious Tom Lord-Alge. Hailing from south New Jersey, Tyler came to Nashville to step into the next level of music and recording.</p>
        <p>The world of music is changing, but you couldn't be in better hands than those of a well rounded musician who understands how to capture sounds and songs. Whether it's cooking up beats, refining the structure of a song for production, or dropping tasty guitar licks into a song, Tyler finds the right flavor for the dish.</p>
      </div>
    </div>
  </section>
</Layout>
